{
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "jsx-a11y"
    ],
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": [
        "airbnb/base",
        "plugin:jsx-a11y/recommended"
    ],
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "mocha": true
    },
    "globals": {
        "require": false,
        "define": false,
        "console": false,
        "angular": false,
        "$": false,
        "inject": false,
        "module": false,
        "jasmine": false,
        "it": false,
        "describe": false,
        "expect": false,
        "spyOn": false,
        "beforeEach": false,
        "waits": false,
        "waitsFor": false,
        "runs": false,
        "analytics": true,
        "afterEach": true,
        "fail": true,
        "chai": false,
        "sinon": false,
        "shallow": false,
        "mount": false,
        "util": false,
        "__DEV__": false,
        "__TEST__": false,
        "__PROD__": false,
        "__DEMO__": false
    },
    "rules": {
        "indent": [
            2,
            4,
            {
                "SwitchCase": 1
            }
        ],
        "strict": [
            2,
            "never"
        ],
        "no-trailing-spaces": 0,
        "object-shorthand": 0,
        "padded-blocks": 0,
        "no-use-before-define": 0,
        "comma-dangle": 0,
        "arrow-spacing": 0,
        "no-param-reassign": 0,
        "arrow-body-style": 0,
        "eol-last": 0,
        "max-len": 0,
        "quote-props": 0,
        "object-curly-spacing": 0,
        "spaced-comment": [
            "error",
            "always",
            {
                "exceptions": [
                    "-",
                    "+",
                    "*"
                ],
                "markers": [
                    "/",
                    "!",
                    ","
                ]
            }
        ],
        "consistent-return": 0,
        "func-names": 0,
        "no-case-declarations": 0,
        "radix": 0,
        "no-console": 0,
        "import/first": 0,
        "import/no-extraneous-dependencies": 0,
        "import/extensions": 0,
        "import/no-unresolved": 0,
        "import/no-webpack-loader-syntax": 0,
        "import/no-dynamic-require": 0,
        "no-plusplus": 0,
        "import/no-mutable-exports": 0,
        "no-underscore-dangle": 0,
        "arrow-parens": 0,
        "no-restricted-syntax": [
            "error",
            "LabeledStatement",
            "WithStatement"
        ],
        "global-require": 0,
        "prefer-rest-params": 0,
        "no-prototype-builtins": 0,
        "linebreak-style": 0,
        "no-warning-comments": 2,
        "require-jsdoc": 0,
        "valid-jsdoc": [
            2,
            {
                "requireParamDescription": false,
                "requireReturnDescription": false,
                "requireReturn": false,
                "prefer": {
                    "return": "returns"
                }
            }
        ],
        "react/jsx-uses-vars": [
            2
        ],
        "react/jsx-uses-react": [
            2
        ],
        "class-methods-use-this": 0,
        "import/prefer-default-export": 0,
        "no-unused-expressions": 0,
        "prefer-destructuring": 0,
        "prefer-promise-reject-errors": 0,
        "import/no-named-as-default": 0,
        "jsx-a11y/click-events-have-key-events": 1,
        "jsx-a11y/no-static-element-interactions": 1,
        "jsx-a11y/anchor-is-valid": 1,
        "jsx-a11y/label-has-for": [ 2, {
            "components": [ "Label" ],
            "required": {
                "some": [ "nesting", "id" ]
            },
            "allowChildren": false
        }],
        "jsx-a11y/no-onchange": 1,
        "jsx-a11y/no-noninteractive-element-to-interactive-role": 1
    }
}
