:root {
  --primary-theme-color: #524763;
  --secondary-theme-color: #82D8D8;
  --primary-dark-color: #333;
}

.App {
  background-color: var(--primary-dark-color);
}

.AppContainer {  
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

@media screen and (max-width: 768px) {
  .AppContainer {  
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}